.menu_item_array {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li {
  list-style: none;
  color: aliceblue;
}

label {
  color: aliceblue;
}

.menu_label:hover {
  color: #fa0;
  font-size: 1.8em;
  transition: all 0.5s ease;
  background-color: #000;
  border: #000 2px solid;
  border-radius: 15%
}
.selected {
  color: #fa0;
  font-size: 1.8em;
  transition: all 0.5s ease;
  background-color: #000;
  border: #000 2px solid;
  border-radius: 15%
} 
.menu_label {
  transition: all 0.5s ease;
  color: aliceblue;
  text-decoration: none;
  border: #fa0  4px solid;
  background-color: #fa0;
  border-radius: 15%
}
.menu_selections {
  display: block !important;
  font-size: large;
  font-weight: bold !important;
}
menu_selections::after {
  content: " ...";
}
