.menu_item_array {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li {
  list-style: none;
  color: aliceblue;
}

label {
  color: aliceblue;
}
.menu_label:hover {
  color: #fa0;
  font-size: 1.8em;
  transition: all 0.5s ease;
}
.menu_label {
  transition: all 0.5s ease;
}
